<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/boostrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="sidebar-block">
      <button class="options-button btn btn-primary">Option</button>
      <div class="quantity-block">
        <label for="quantity">Quantity</label>
        <input id="quantity" disabled type="text" name="items-quantity" placeholder="Type here" class="quantity-field">
      </div>
      <div class="dropdown-block">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:void(0)" onclick="changeItemsType('A')">A items</a>
            </li>
            <li>
              <a href="javascript:void(0)" onclick="changeItemsType('B')">B items</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-block">
      <div class="item-wrapper">
        <% if ( typeof items !== 'undefined' ) { %>
          <% items.forEach( function( item ) { %>
          <div class="item item-a"><%= item.name %> <%= item.type %><%= item.number %></div>
          <% }) %>
        <% } %>
      </div>
      <% if ( pageCount > 1 ) { %>
      <div class="pagination-wrapper">
        <ul class="pagination">
            <% if ( currentPage > 1 ) { %>
          <li><a href="/?page=1">&laquo;</a></li>
            <% } %>
            <% var i = 1;
              if ( currentPage > 5 ) {
                i = +currentPage - 4;
              } %>
            <% if ( i !== 1 ) { %>
          <li class="disabled"><a href="#">...</a></li>
            <% } %>
            <% for ( i; i <= pageCount; i++ ) { %>
            <% if ( currentPage == i ) { %>
          <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
          <li><a href="/?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if ( i == (+currentPage + 4) ) { %>
          <li class="disabled"><a href="#">...</a></li>
            <% break; } %>
            <% } %>
            <% if ( currentPage != pageCount ) { %>
          <li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
            <% } %>
        </ul>
        <% } %>
      </div>
      <div class="items-counter">
        <% if ( typeof itemsList !== 'undefined' && (totalItems - 1) > 0 ) { %>
          <div>Items listing: </div>
          <span><%= itemsList %></span>
          <div>Items count:</div>
          <span><%= totalItems - 1 %></span>
          <div>Pages: </div>
          <span><%= pageCount %></span>
        <% } else { %>
          <div>Pages: </div>
          <span>1</span>
          <div>Items count:</div>
          <span>0</span>
        <% } %>
      </div>
    </div>
    <footer class="footer">
      <script src="/jquery/jquery.min.js"></script>
      <script src="/boostrap/js/bootstrap.min.js"></script>
      <script src="/javascripts/main.js"></script>
    </footer>
  </body>
</html>
